<a href="https://colab.research.google.com/github/harshprajapati9/heart_disease/blob/main/heartdisease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing the dependencies

In [ ]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data collection and processing

In [ ]:
heart_data = pd.read_csv('/content/heart.csv')

In [ ]:
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
heart_data.shape

(303, 14)

In [ ]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

statistical measure about the data

In [ ]:
heart_data.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 heart disease 
0 no heart disease

splitting the feature and target

In [ ]:
 x = heart_data.drop('target', axis= 1)

In [ ]:
x.head()

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   63    1   3       145   233    1  ...      150      0      2.3      0   0     1
1   37    1   2       130   250    0  ...      187      0      3.5      0   0     2
2   41    0   1       130   204    0  ...      172      0      1.4      2   0     2
3   56    1   1       120   236    0  ...      178      0      0.8      2   0     2
4   57    0   0       120   354    0  ...      163      1      0.6      2   0     2

[5 rows x 13 columns]

In [ ]:
 y = heart_data['target']

In [ ]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

splitting training and test data

In [ ]:
X_train, X_test,Y_train, Y_test = train_test_split(x,y,test_size = 0.2, stratify=y, random_state=2)

In [ ]:
 x.shape

(303, 13)

In [ ]:
X_train.shape

(242, 13)

In [ ]:
X_test.shape

(61, 13)

model training

In [ ]:
model = LogisticRegression()

training the logistic regression

In [ ]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

model evaluation

accuracy score

In [ ]:
X_train_prediction= model.predict(X_train)
training_data_accuracy =accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('ACCURACY ON THE TRAINING DATA ',training_data_accuracy)

ACCURACY ON THE TRAINING DATA  0.8512396694214877

In [ ]:
# accuracy on the test data 
X_test_prediction= model.predict(X_test)
test_data_accuracy =accuracy_score(X_test_prediction, Y_test)
print('ACCURACY ON THE Test DATA ',test_data_accuracy)

ACCURACY ON THE Test DATA  0.819672131147541

building the predictive model

In [ ]:
input_data = (41,0,1,130,204,0,0,172,0,1.4,2,0,2)


#changing the input array into the nparray 
input_data_as_numpy_array = np.asarray(input_data) 

# w need to find the prediction for only one value ot for the all so we want to reshape the input
input_data_reshaped =  input_data_as_numpy_array.reshape(1,-1)

prediction  = model.predict(input_data_reshaped)
print(prediction) 

if (prediction[0]==0):
  print("The person dosn't have heart disease")
else:
  print("The person have heart disease")

[1]
The person have heart disease